<div class="trombinoscope trombinoscope-persons" data-aos="fade-up" data-aos-duration="600">
    <h1 class="trombinoscope-persons-title">
        {{ trombinoscope_title }}
    </h1>

    <div class="trombinoscope-persons-social-sharers">
        {{ social_sharers|raw }}
    </div>

    {% set categories = {} %}
    {% for person in trombinoscope %}
        {% for category in person.categories %}
            {% set categoryPersons = (categories[category.name]|default([]))|merge([person]) %}
            {% set categories = categories|merge({ (category.name): categoryPersons }) %}
        {% endfor %}
    {% endfor %}

    {% for category, persons in categories %}
        <h3>
            {{ category }}
        </h3>

        <div class="trombinoscope-persons-grid">
            {% for person in persons %}
                <a href="{{ person.url }}" data-turbo="optional"
                   class="trombinoscope-persons-grid-item zoom-hover"
                   {% if person.image %}style="background-image: url('{{ person.image }}');"{% endif %}>
                    <h3 class="trombinoscope-persons-grid-item-name">
                        <strong>
                            {{ person.fullName }}
                        </strong>
                    </h3>
                </a>
            {% else %}
                <div class="trombinoscope-persons-grid-none">
                    {{ no_elements }}
                </div>
            {% endfor %}
        </div>
    {% endfor %}
</div>
