<div class="home">
    <div class="home-jumbo" {% if jumbo_image %}style="background-image: url('{{ jumbo_image }}');"{% endif %}>
        {% if jumbo_overlay %}
            <div class="home-jumbo-overlay"></div>
        {% endif %}

        <div class="home-jumbo-intro-container">
            <div class="home-jumbo-intro home-jumbo-intro-{{ jumbo_position }}">
                <div class="home-jumbo-intro-view" data-aos="fade-up" data-aos-duration="600">
                    <h2>
                        {{ jumbo_title }}
                    </h2>

                    <div class="home-jumbo-intro-split"></div>

                    <p>
                        {{ jumbo_content|raw }}
                    </p>
                </div>

                <!--
                <div class="home-jumbo-intro-bubbles">
                    <div class="home-jumbo-intro-bubble home-jumbo-intro-bubble-left">
                        <div class="home-jumbo-intro-bubble-logos">
                            <img class="home-jumbo-intro-bubble-logos-quomon"
                                 src="https://ca.c4o.io/theme/asset/ce54f263-46bc-4ffb-8bb4-da4a6be311f7/theme-asset/dbe38710-941a-4f6b-a932-79c67b982106.svg" />
                            <img class="home-jumbo-intro-bubble-logos-tectonica"
                                 src="https://ca.c4o.io/theme/asset/ce54f263-46bc-4ffb-8bb4-da4a6be311f7/theme-asset/f1980823-bb20-4f0c-ae5d-b3ae6d3522fe.png" />
                            <img class="home-jumbo-intro-bubble-logos-citipo"
                                 src="https://ca.c4o.io/theme/asset/ce54f263-46bc-4ffb-8bb4-da4a6be311f7/theme-asset/b65fabb2-0e37-4fdb-8150-7c14051ab95a.svg" />
                        </div>

                        <h4 class="home-jumbo-intro-bubble-category">Organizing</h4>
                    </div>

                    <div class="home-jumbo-intro-bubble home-jumbo-intro-bubble-center">
                        <div class="home-jumbo-intro-bubble-logos">
                            <img class="home-jumbo-intro-bubble-logos-novoville"
                                 src="https://ca.c4o.io/theme/asset/ce54f263-46bc-4ffb-8bb4-da4a6be311f7/theme-asset/4bb23057-41ff-4f4f-b231-78c0393977d7.png" />
                            <img class="home-jumbo-intro-bubble-logos-we"
                                 src="https://ca.c4o.io/theme/asset/ce54f263-46bc-4ffb-8bb4-da4a6be311f7/theme-asset/a40eab97-fa42-4fff-9900-3183ed3d7e4d.png" />
                        </div>

                        <h4 class="home-jumbo-intro-bubble-category">Citizen centric public services</h4>
                    </div>

                    <div class="home-jumbo-intro-bubble home-jumbo-intro-bubble-right">
                        <div class="home-jumbo-intro-bubble-logos">
                            <img class="home-jumbo-intro-bubble-logos-makeorg"
                                 src="https://ca.c4o.io/theme/asset/ce54f263-46bc-4ffb-8bb4-da4a6be311f7/theme-asset/c9376e39-da5d-4f38-8fed-a4a06bc55508.png" />
                            <img class="home-jumbo-intro-bubble-logos-capcollectif"
                                 src="https://ca.c4o.io/theme/asset/ce54f263-46bc-4ffb-8bb4-da4a6be311f7/theme-asset/8e466224-c982-4f8b-8e33-85a3efd826d4.png" />
                            <img class="home-jumbo-intro-bubble-logos-bluenove"
                                 src="https://ca.c4o.io/theme/asset/ce54f263-46bc-4ffb-8bb4-da4a6be311f7/theme-asset/f0a3177f-4a1d-4fa5-9fc6-738dcb218de1.png" />
                            <img class="home-jumbo-intro-bubble-logos-fluicity"
                                 src="https://ca.c4o.io/theme/asset/ce54f263-46bc-4ffb-8bb4-da4a6be311f7/theme-asset/24aae7be-4347-4f78-8e26-d050dd93d00d.png" />
                            <img class="home-jumbo-intro-bubble-logos-civocracy"
                                 src="https://ca.c4o.io/theme/asset/ce54f263-46bc-4ffb-8bb4-da4a6be311f7/theme-asset/3a1b3d4e-9b4a-4f60-b5e6-4051d213d350.png" />
                        </div>

                        <h4 class="home-jumbo-intro-bubble-category">Collective intelligence</h4>
                    </div>
                    -->
            </div>
        </div>
    </div>
</div>

{% for key, block in blocks %}
    {% if 'home-about-us' in block.content %}
        <div class="home-about-us" data-aos="fade-up" data-aos-duration="600">
            <div class="home-about-us-left">
                {{ block.content|raw }}
            </div>
            <div class="home-about-us-right"></div>
        </div>
    {% elseif 'home-join' in block.content %}
        <div class="home-join" data-aos="fade-up" data-aos-duration="600">
            <div class="home-join-view">
                {{ block.content|raw }}
            </div>
        </div>
    {% else %}
        <div class="home-blocks">
            {{ block.content|raw }}
        </div>
    {% endif %}
{% endfor %}
</div>
